<li class="sidebar-brand">
  {{#link-to 'user' user.user}}
    {{user.user.fullName}}
  {{/link-to}}
</li>

<li class="sidebar-brand">
  {{#link-to 'dashboard'}}
    Dashboard
  {{/link-to}}
</li>

<li> Project 2 </li>
<li> Project 3 </li>
<li>
  Things
</li>
