<li class="sidebar-brand">
  {{#link-to 'user' user.user}}
    {{user.user.fullName}}
  {{/link-to}}
</li>

{{#if user.content.isAdmin}}
  <li>
    {{#link-to 'admin'}}
      Admin
    {{/link-to}}
  </li>
{{/if}}

<li>
  {{#link-to 'dashboard'}}
    Dashboard
  {{/link-to}}
</li>

<li>
  {{#link-to 'projects'}}
    Projects
  {{/link-to}}
</li>

<li>
  {{#link-to 'events'}}
    Events
  {{/link-to}}
</li>
