
<div class="container">
  <div class="buttons col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class={{if isProjectRouteActive 'active'}}>
        {{#link-to "admin.new-project"}}
          Create Project
        {{/link-to}}
      </li>
      <li role="presentation">
        <a>
          Add Volunteer
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-10 outlet">
    {{outlet}}
  </div>
</div>
