<div class="container">
  <div class="page-header">
    <h1 id="title">ChickTech Portal</h1>
  </div>

  <div class="sidebar col-md-3">
    <div class="current-projects">
      <ul>
        <li> Project 1 </li>
        <li> Project 2 </li>
        <li> Project 3 </li>
      </ul>
    </div>
    <div>
      Stuff
    </div>

    <div>
      Things
    </div>
  </div>

  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
