<div id="wrapper">
  <div id="sidebar-wrapper">
    {{app-sidebar}}
  </div>

  <div id="page-content-wrapper">
    <div id="header-wrapper">
      {{page-header}}
    </div>

    <div class="content">
      {{outlet}}
    </div>
  </div>
</div>
